div{
    height: 100px;
    width: 200px;
    border: 2px solid black;
    background-color: chartreuse;
    position: absolute;
    left: 200px;
    top: 200px;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(4);
    transition-delay: 2ms; */
    /* transition: all 2s; */
    /* transform: rotate(45deg); */
    /* rotate: z 90deg; */
    /* transform: scale(2); */
    /* animation-name: colorAnimation; */
    /* animation-duration: 2s; */
    /* animation-timing-function: ease-in; */
    /* animation-delay: 1s; */
    /* animation-iteration-count: infinite;
    animation-direction: alternate ; */
    animation: colorAnimation 4s linear 1s infinite alternate;
}  

@keyframes colorAnimation{
    /* from{background-color: chartreuse;}
    to{background-color: blue;} */
    0%{
        left:0px;
        background-color: chartreuse;
    }
    50%{
        background-color: cornflowerblue;
    }
    100%{
        left:1000px;
        background-color: brown;
    }
    
}

/* div:hover{
    background-color: rgb(242, 196, 255);
    color: rgb(240, 12, 12);
    font-size: 30px;
    transform: scale(1.5); */
    /* rotate: z 180deg; */
    /* transform: translate(-130px,-160px); */
    /* transform: skew(45deg); */
/* } */
