/*div
{
    height: 100px;
    width: 100px;
    background-color: aqua;
    /* border-width: 3px;
    border-color: rgb(52, 21, 190);
    border-style: solid; */

    /*border: 3px solid rgb(52, 21, 190);
    border-radius: 25px;

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

    margin-top:20px ;
    margin-right:20px ;
    margin-bottom:20px ;
    margin-left:20px ;

}*/
/* h1
{
    height: 40px;
    width: 150px;
    background-color: aquamarine ; */
    /* border-width: 3px;
    border-color: rgb(244, 134, 0);
    border-style: dashed; */

    /* border: 2px dashed rgb(244,134,0); */
    /* padding: 50px; */
    /* padding: 1px 2px 3px 4px;
    margin: 1px 2px 3px 4px;
    text-align: center;
}
#one{
    display: inline;
    background-color: blueviolet;
}

button{
    display: block;

} */
div{
    width: 100px;
    height: 100px;
    padding: 25px;
    margin: 25px;
    display: inline-block;
    }
#box1{
    background-color: brown;
}
#box2{
    background-color: rgb(69, 165, 42);
    visibility:hidden ;
}
#box3{
    background-color: rgb(42, 151, 165);
}
h1{
    color: rgba(255, 0, 0, 0.5);
}
h2{
    color: rgba(255, 0, 0, 1);
}
