#navbar{
    height: 60px;
    background-color: rgb(23, 21, 21);
    border:10px solid wheat;
    
    
}
#logo{
    
    font-size: 25px;
    color: orange;
    text-decoration: none;
    margin-left: 10px;
    margin-right:210px ;
}
#account{
    
    color: white;
    text-decoration: none;
    margin-right:210px ;
}
#contect{
    color: white;
    text-decoration: none;
    margin-right:210px ;
}
#mycart{

    color: white;
    text-decoration: none;
    margin-right:210px ;
}
button{
    background-color: orange;
}
#content{
    height: 590px;
}
#div1{
    height: 100px;
    width: 100px;
    /* border: 2px;
    border-style:solid ;
    border-color: black; */
    border: 2px solid black;
    background-color: rgba(43, 164, 251,0.5);
    display: inline-block;
}
#div2{
    height: 100px;
    width: 100px;
    /* border-width: 2px;
    border-style:solid ;
    border-color: black; */
    border: 2px solid black;
    background-color: rgba(210, 17, 217,0.5);
    display: inline-block;
}
#div3{
    height: 100px;
    width: 100px;
    /* border: 2px;
    border-style:solid ;
    border-color: black; */
    border: 2px solid black;
    background-color: rgba(217, 214, 17,0.5);
    display: inline-block;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
}