div{
    height: 300px;
    width: 1500px;
    /* height: 100px; */
    border-radius: 20px;
    background-image: url("love_nature.png");
    background-size: cover;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(254, 254, 254);
    /* position: fixed; */
    /* top: 10px; */
} 