
/* div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
} */
*{
    padding: 0;
    margin: 0;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
    border: 10px solid rgba(245, 222, 179, 0.948);
}
#logo{
    color: rgb(205, 160, 78);
    text-decoration: none;
    font-size: 25px;
    margin-right: 210px;
    margin-left: 10px;
}
#account{
    text-decoration: none;
    color: aliceblue; 
    margin-right: 210px;
}
#Mycart{
    text-decoration: none;
    color: aliceblue;
    margin-right: 210px;
}
#contact{
    text-decoration: none;
    color: aliceblue;
    margin-right: 210px;
}
button{
    background-color: rgb(205, 160, 78);
    color: aliceblue;
}