/* #box1{
    font-size: 16px;
    width: 200px;
    height: 100px;
    background-color: aquamarine;
}
#box2{
    height: 50px;
    width: 40%; 
    background-color: yellow;
    margin-left: 10%; */
    /* font-size: 2em; 2em means the fort-size of box2(child) is two times of fort-size of box1(parent) */
    /* width: 5rem;
} */
div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
/* #box1{
   position: static;
}
#box2{
    position: relative;
    top: 20px;
    left: 25px;
    z-index: 1;
}
#box3{
    position: absolute;
    top: 20px;
    left: 250px;
    z-index: 1;
}
#box4{
    position: fixed;
    left: 200px;
    top: 50px;

} */
#box1{
    width: 200px;
    background-image: url("image.png");
    background-size:cover ;
}